## Input : Le fichier CSV Clean

In [1]:
import pandas as pd
import numpy as np

# Répartition du fichier Principal en sous fichiers

In [15]:
df= pd.read_csv('data_Us.csv', index_col=0)

C:\Users\Utilisateur\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [16]:
df.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance,Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,0.01,Right lane blocked due to accident on I-70 Eas...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,0.01,Accident on Brice Rd at Tussing Rd. Expect del...,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,0.01,Accident on OH-32 State Route 32 Westbound at ...,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,0.01,Accident on I-75 Southbound at Exits 52 52B US...,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,0.01,Accident on McEwen Rd at OH-725 Miamisburg Cen...,...,False,False,False,False,True,False,Day,Day,Day,Day

## 1 .Table comte

In [17]:
data1 = pd.read_csv('county_fips_master.csv' , encoding='latin-1')
df_County1 = data1[['county_name', 'fips' ,'state_abbr']]
df_County1= df_County1.rename(columns = {'fips': 'county_fips', 'state_abbr':'state_id' })

data2 = pd.read_csv('uszips.csv')
df_County2 = data2[['county_name', 'county_fips', 'state_id']]

data3 = pd.read_csv('uscities.csv')
df_County3 = data3[['county_name', 'county_fips' , 'state_id']]


df_county = pd.concat([df_County1, df_County2 , df_County3], axis=0)

df_county.drop_duplicates(subset='county_name', inplace=True)

df_county  = df_county.loc[(df_county.county_name.isin(df['County'])),:]

df  = df.loc[(df.County.isin(df_county['county_name'])),:]
df_county.to_csv('comte.csv', index=False)
df_county.head(2)

              county_name  county_fips state_id
29        Franklin County         1059       AL
320  District of Columbia        11001       DC

## 2 . Table état

In [18]:
df_Etat = pd.read_excel('Etat.xlsx')
df_Etat['Country']= 'US'
df_Etat = df_Etat.loc[(df_Etat.state.isin(df_county['state_id'])),:]
df_Etat = df_Etat[['state', 'name', 'Country']]
df_Etat.to_csv('Etat_US.csv' , index=False)

## 3 .Table Localisation

In [19]:
data_localisation = df[['Street' ,'City' , 'County' , 'Zipcode', 'Start_Lat','Start_Lng']]
data_localisation.index = np.arange(1, len(data_localisation) + 1)
data_localisation.index = data_localisation.index.set_names(['Id_localisation'])
data_localisation = data_localisation.reset_index()
data_localisation.Zipcode= data_localisation.Zipcode.apply(lambda x : x.split('-')[0] if len(x)>5  else x)
data_localisation.to_csv('localisation.csv', index=False)

## 4 .Table accident

In [20]:
data_accident = df [['ID', 'Source' , 'TMC', 'Severity', 'Distance', 'Description' ,'Side']]
data_accident.index = np.arange(1, len(data_accident) + 1)
data_accident['Id_DT'] = np.arange(1, len(data_accident) + 1)
data_accident['Id_LC'] = np.arange(1, len(data_accident) + 1)
data_accident['Id_DM'] = np.arange(1, len(data_accident) + 1)
data_accident['Id_Route'] = np.arange(1, len(data_accident) + 1)
data_accident.to_csv('accident.csv' , index=False)

C:\Users\Utilisateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Utilisateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Utilisateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Utilisateur\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

###  5. Table Donnees Temporelles

In [11]:
data_Temporelles = df[['Start_Time', 'End_Time' , 'Timezone','Sunrise_Sunset']]
data_Temporelles.index = np.arange(1, len(data_Temporelles) + 1)
data_Temporelles.index = data_Temporelles.index.set_names(['Id_DT'])
data_Temporelles = data_Temporelles.reset_index()
data_Temporelles.to_csv('donnees_temporelles.csv' , index=False)

## 6  .Table Route

In [29]:
data_route = df [['Amenity', 'Bump', 'Crossing' ,'Give_Way', 'Junction' , 'No_Exit', 'Railway', 'Roundabout' , 'Station', 
                 'Stop', 'Traffic_Calming','Traffic_Signal' , 'Turning_Loop']]
data_route.index = np.arange(1, len(data_route) + 1)
data_route.index = data_route.index.set_names(['Id_DR'])
data_route = data_route.reset_index()
data_route.to_csv('Route.csv', index=False)

,Id_DR,Amenity,Bump,Crossing,Give_Way,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop
0,1,False,False,False,False,False,False,False,False,False,False,False,False,False
1,2,False,False,False,False,False,False,False,False,False,False,False,False,False
2,3,False,False,False,False,False,False,False,False,False,False,False,True,False
3,4,False,False,False,False,False,False,False,False,False,False,False,False,False
4,5,False,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2876519,2876520,False,False,False,False,False,False,False,False,False,False,False,False,False
2876520,2876521,False,False,False,False,False,False,False,False,False,False,False,False,False
2876521,2876522,False,False,False,False,True,False,False,False,False,False,False,False,False
2876522,2876523,False,False,False,False,False,False,False,False,False,False,False,False,False
2876523,2876524,False,False,False,False,False,False,False,False,False,False,False,False,False

##  7  . Table conditions météorologiques

In [18]:
data_CM = df[['Temperature', 'Humidity','Pressure' , 'Visibility' , 'Wind_Direction' , 'Wind_Speed', 'Weather_Condition' ]]
data_CM.index = np.arange(1, len(data_CM) + 1)
data_CM.index = data_CM.index.set_names(['Id_CM'])
data_CM = data_CM.reset_index()
data_CM.to_csv('Meteo.csv' , index=False)

## 8  . Table station météorologiques

In [19]:
station_Météorologiques = df[['Airport_Code', 'Weather_Timestamp']]
station_Météorologiques.index = np.arange(1, len(station_Météorologiques) + 1)
station_Météorologiques.index = station_Météorologiques.index.set_names(['Id_SM'])
station_Météorologiques = station_Météorologiques.reset_index()
station_Météorologiques.to_csv('station_Meteo.csv' , index=False)

## 9 . Table Prise parametre  Entre station et données méteo

In [20]:
Prise_parametre = pd.DataFrame(zip(station_Météorologiques.Id_SM, data_CM.Id_CM ))
Prise_parametre.rename(columns = {0: 'Id_SM' , 1: 'Id_DM'} , inplace = True)
Prise_parametre.to_csv('Prise_P.csv' , index= False)

# Data Subset

In [38]:
df.shape

(2876524, 42)

In [30]:
df_Subset= df.iloc[:287652,:]

In [31]:
df_Subset.to_csv('US_Accident_subset.csv')

## Output : 9 fichiers CSV pour la création de la base de données + Fichier contenant 10% des données

In [8]:
##############################


for col in df.select_dtypes(include='number').columns:
    print(col)

TMC
Severity
Start_Lat
Start_Lng
Distance
Temperature
Humidity
Pressure
Visibility
Wind_Speed

In [11]:
df_numeric = df[['TMC', 'Severity' ,'Start_Lat', 'Start_Lng', 'Distance','Temperature','Humidity', 'Pressure', 'Visibility','Wind_Speed']]

In [20]:
import pandas as pd 
from sqlalchemy import create_engine
import sqlalchemy
import pymysql 
import csv

In [21]:
engine = create_engine('mysql+pymysql://{user}:{pw}@localhost/{db}'.format(user='root',
                      pw='root',
                      db='accident_test'))
engine

Engine(mysql+pymysql://root:***@localhost/accident_test)

In [22]:
con = pymysql.connect(host='localhost',
                     user='root', 
                     password='root',
                     db='accident_test')
con

In [31]:
pd.read_sql("SHOW TABLES;", con=con)

  Tables_in_accident_test
0              some_table
1              table_test
2                   talbe

In [30]:
df_numeric.to_sql('talbe' , con=engine)

In [27]:
df_numeric=df_numeric.iloc[:200000,:]