In [2]:
import pymysql
import pandas as pd
import pymysql.cursors

In [2]:
def removeduplicate(interval):
    connection = pymysql.connect(host='localhost',
                     user='root', 
                     password='root',
                     db='accident_us', port = 3306)
    cursor = connection.cursor()
    
    list_table = ['accident', 'localisation_city' , 'route', 'donnees_temporelles','station_meteorologique','donnees_meteorologiques']
    column_accident = ['ID', 'Source_Api', 'TMC', 'Severity', 'Distance' , 'Descriptions' ,'Side']
    column_localisation = ['Id_LC','Street', 'City', 'County','Zipcode', 'Start_lat', 'Start_lng']
    column_route= ['Id_Route','Amenity','Bump','Crossing','Give_Way','Junction','No_Exit','Railway','Roundabout','Station','Stop','Traffic_Calming', 'Traffic_Signal','Turning_Loop']
    column_temps= ['Id_DT','Start_Time','End_time','Timezone','Sunrise_Sunset']
    column_station = ['Id_SM', 'airport_code', 'Weather_Timestamp']
    column_Meteo= ['Id_DM','Temperature','Humidity','Pressure','Visibility','Wind_Direction','Wind_speed','Weather_condition']

    list_column= [column_accident, column_localisation , column_route, column_temps, column_station, column_Meteo]
    #requete = 'SELECT  COUNT(*) from '+  i
    indexcol = 0
    cntcol = 0
    tables = []
    aze=[]
    for i in list_table:
            y=list_column[indexcol]
            chaineColonne = ""
            count=0
            for z in y:
                count+=1
                if count==len(y) :
                    chaineColonne = chaineColonne + z
                else :
                    chaineColonne = chaineColonne + z+","

            chaineColonne2 = chaineColonne.split(',')[1:]
            chaineColonne2= str(chaineColonne2).replace("'","")
            chaineColonne2= chaineColonne2.replace("]","").replace("[","")
            requete1=  """SELECT  COUNT(*) AS nbr_doublon , {field}  \
            FROM     {tab}  \
            GROUP BY {field2} \
            HAVING   COUNT(*) > 1 limit {inter}""".format(field=chaineColonne ,tab=i, field2= chaineColonne2,inter=interval)
            table = pd.read_sql(requete1 , con=connection)
            paramcol=""
            ctnligne=0
            while(len(table)>ctnligne):
                cntcol=0
                for w in y:
                    if cntcol == 0:
                        paramcol=paramcol + w +"<> \""+ table.iloc[ctnligne][cntcol+1]+ "\" and "
                    elif cntcol >0 and cntcol <len(y)-1:
                        paramcol=paramcol + w +"= \""+ str(table.iloc[ctnligne][cntcol+1])+ "\" and "
                    else :
                        paramcol=paramcol + w +"= \""+ table.iloc[ctnligne][cntcol+1]+"\";"                   
                    cntcol=cntcol+1  

                requetesup="delete from {tab} where {field}".format(tab=i,field=paramcol)
                paramcol=""
                tables.append(requetesup)
                ctnligne=ctnligne+1



            indexcol=indexcol+1


    ####suppression
    for sup in tables:
        cursor.execute(sup)
        connection.commit()

    connection.close()

In [ ]:
removeduplicate(3)

In [ ]:
for el in range(0,3):
    removeduplicate(5000)

In [15]:
def removeduplicate(interval):
    connection = pymysql.connect(host='localhost',
                     user='root', 
                     password='root',
                     db='accident_us', port = 3306)
    cursor = connection.cursor()
    
    list_table = ['accident']
    column_accident = ['ID', 'Source_Api', 'TMC', 'Severity', 'Distance' , 'Descriptions' ,'Side']
    

    list_column= [column_accident]
    #requete = 'SELECT  COUNT(*) from '+  i
    indexcol = 0
    cntcol = 0
    tables = []
    aze=[]
    for i in list_table:
            y=list_column[indexcol]
            chaineColonne = ""
            count=0
            for z in y:
                count+=1
                if count==len(y) :
                    chaineColonne = chaineColonne + z
                else :
                    chaineColonne = chaineColonne + z+","

            chaineColonne2 = chaineColonne.split(',')[1:]
            chaineColonne2= str(chaineColonne2).replace("'","")
            chaineColonne2= chaineColonne2.replace("]","").replace("[","")
            requete1=  """SELECT  COUNT(*) AS nbr_doublon , {field}  \
            FROM     {tab}  \
            GROUP BY {field2} \
            HAVING   COUNT(*) > 1 limit {inter}""".format(field=chaineColonne ,tab=i, field2= chaineColonne2,inter=interval)
            table = pd.read_sql(requete1 , con=connection)
            paramcol=""
            ctnligne=0
            while(len(table)>ctnligne):
                cntcol=0
                for w in y:
                    if cntcol == 0:
                        paramcol=paramcol + w +"<> \""+ table.iloc[ctnligne][cntcol+1]+ "\" and "
                    elif cntcol >0 and cntcol <len(y)-1:
                        paramcol=paramcol + w +"= \""+ str(table.iloc[ctnligne][cntcol+1])+ "\" and "
                    else :
                        paramcol=paramcol + w +"= \""+ table.iloc[ctnligne][cntcol+1]+"\";"                   
                    cntcol=cntcol+1  

                requetesup="delete from {tab} where {field}".format(tab=i,field=paramcol)
                paramcol=""
                tables.append(requetesup)
                ctnligne=ctnligne+1



            indexcol=indexcol+1


    ####suppression
    for sup in tables:
        cursor.execute(sup)
        connection.commit()

    connection.close()

In [ ]:
removeduplicate(1000)

In [ ]:
conn